- name: Add klipper config to nginx
  include_tasks: ../nginx/tasks/add_service.yml
  vars:
    service_name: klipper
    service_config_path: "{{ role_path }}/files/klipper_nginx.conf"

- name: Ensure directories for containers exists
  ansible.builtin.file:
    path: /actions-runner/files/printer_data/{{ item }}
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - config
    - run
    - gcodes
    - logs

- name: Check if any config files exist in directory
  ansible.builtin.find:
    paths: /actions-runner/files/printer_data/config/
    patterns: "*.cfg,*.conf"
  register: existing_config_files

- name: Copy configs if directory is empty
  ansible.builtin.copy:
    src: "{{ role_path }}/files/config/"
    dest: /actions-runner/files/printer_data/config/
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  when: existing_config_files.matched == 0

- name: start klipper containers from docker-compose file
  community.docker.docker_compose_v2:
    project_src: "{{ role_path }}/files"
    state: present

- name: Add Samba share
  include_role: 
    name: samba
    tasks_from: add_samba_share
  vars:
    share_name: gcodes
    share_path: printer_data/gcodes
    share_service_name: klipper
  