- name: Check if HACS is already installed
  community.docker.docker_container_exec:
    container: "haos"
    command: test -d /config/custom_components/hacs
  register: hacs_check
  ignore_errors: true

- name: Install HACS if not present
  community.docker.docker_container_exec:
    container: "haos"
    command: wget -O - https://get.hacs.xyz | bash -
  when: hacs_check.rc != 0
  register: hacs_install

- name: Restart Home Assistant container if HACS was installed
  community.docker.docker_container:
    name: "haos"
    state: restarted
  when: hacs_install is defined and hacs_install.changed