# Main tasks for Home Assistant OS role
- name: Creates directory if not exist
  ansible.builtin.file:
    path: /actions-runner/files/haos
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Check if any config files exist in directory
  ansible.builtin.find:
    paths: /actions-runner/files/haos/
    patterns: "*.yaml"
  register: haos_config_file

- name: Copy configs if directory is empty
  ansible.builtin.copy:
    src: "{{ role_path }}/files/configuration.yaml"
    dest: /actions-runner/files/haos/
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  when: haos_config_file.matched == 0

- name: Start haos container
  community.docker.docker_container:
    name: haos
    image: ghcr.io/home-assistant/home-assistant:stable
    state: started
    restart_policy: unless-stopped
    network_mode: host
    volumes:
      - "/actions-runner/files/haos/:/config"
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"

- name: Allow homeassistant through firewall
  community.general.ufw:
    rule: allow
    port: 8123
    proto: tcp
    comment: 'homeassistant'

- name: Install HACS
  include_tasks: install_hacs.yml

- name: Check if onboarding is still needed
  uri:
    url: "http://localhost:8123/api/onboarding"
    method: GET
    status_code: [200, 404]
    return_content: yes
  register: onboarding_api
  failed_when: false
  changed_when: false

- name: Set fact whether to run HAOS configuration (onboarding incomplete)
  set_fact:
    run_configure_haos: "{{ onboarding_api.status == 200 }}"

- name: Configure HAOS after creation (only if onboarding incomplete)
  include_tasks: configure_haos.yml
  when: run_configure_haos

# This will create Hotspot for IOT wifi devices
# Currently Wifi is used by raspberry itself, and providing eth to it is complicated in my current setup  
#- name: Configure network for haos (DO NOT USE)
#  include_tasks: configure_network_for_devices.yml