# Main tasks for Home Assistant OS role
- name: Prepare service
  include_role:
    name: docker
    tasks_from: prepare_env
  vars:
    service_name: "haos"
    service_dir: "/actions-runner/files/haos"

- name: Check if any config files exist in directory
  ansible.builtin.find:
    paths: /actions-runner/files/haos/
    patterns: "*.yaml"
  register: haos_config_file

- name: Copy configs if directory is empty
  ansible.builtin.copy:
    src: "{{ role_path }}/files/configuration.yaml"
    dest: /actions-runner/files/haos/
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'
  when: haos_config_file.matched == 0

- name: Start haos container
  community.docker.docker_container:
    name: haos
    image: ghcr.io/home-assistant/home-assistant:stable
    state: started
    restart_policy: unless-stopped
    volumes:
      - "/actions-runner/files/haos/:/config"
      - "/var/run/docker.sock:/var/run/docker.sock" #for docker containers monitoring from HA 
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    networks:
      - name: proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.haos.rule: "Host(`haos.local`)"
      traefik.http.routers.haos.entrypoints: "web"
      traefik.http.services.haos.loadbalancer.server.port: "8123"

- name: Verify service
  include_role:
    name: docker
    tasks_from: verify_env
  vars:
    service_name: "haos"

- name: Install HACS
  include_tasks: install_hacs.yml

- name: Check if onboarding is still needed
  uri:
    url: "http://localhost:8123/api/onboarding"
    method: GET
    status_code: [200, 404]
    return_content: yes
  register: onboarding_api
  failed_when: false
  changed_when: false

- name: Set fact whether to run HAOS configuration (onboarding incomplete)
  set_fact:
    run_configure_haos: "{{ onboarding_api.status == 200 }}"

- name: Configure HAOS after creation (only if onboarding incomplete)
  include_tasks: configure_haos.yml
  when: run_configure_haos