services:
    joplin-db:
        restart: unless-stopped
        image: postgres:latest
        container_name: joplin-db
        volumes:
            - /actions-runner/files/joplin:/var/lib/postgresql
        environment:
            - POSTGRES_PASSWORD=joplin
            - POSTGRES_USER=joplin
            - POSTGRES_DB=joplin
        networks:
            - name: proxy
    joplin-app:
        container_name: joplin-app
        environment:
            - APP_BASE_URL=http://192.168.0.171/joplin
            - APP_PORT=22300
            - POSTGRES_PASSWORD=joplin
            - POSTGRES_DATABASE=joplin
            - POSTGRES_USER=joplin
            - POSTGRES_PORT=5432
            - POSTGRES_HOST=joplin-db
            - DB_CLIENT=pg
        restart: unless-stopped
        image: joplin/server:latest
        networks:
            - name: proxy
        labels:
          - "traefik.enable=true"
          - "traefik.http.routers.joplin-app.rule=PathPrefix(`/joplin`)"
          - "traefik.http.routers.joplin-app.entrypoints=web"
          - "traefik.http.services.joplin-app.loadbalancer.server.port=22300"
          - "traefik.http.middlewares.joplin-app-stripprefix.stripprefix.prefixes=/joplin"
          - "traefik.http.routers.joplin-app.middlewares=joplin-app-stripprefix"
        depends_on:
            - joplin-db

networks:
  proxy:
    external: true
    name: proxy 