services:
    joplin-db:
        restart: unless-stopped
        image: postgres:latest
        volumes:
            - /actions-runner/files/joplin:/var/lib/postgresql/data
        environment:
            - POSTGRES_PASSWORD=joplin
            - POSTGRES_USER=joplin
            - POSTGRES_DB=joplin
    joplin-app:
        environment:
            - APP_BASE_URL=http://192.168.0.171
            - APP_PORT=22300
            - POSTGRES_PASSWORD=joplin
            - POSTGRES_DATABASE=joplin
            - POSTGRES_USER=joplin
            - POSTGRES_PORT=5432
            - POSTGRES_HOST=joplin-db
            - DB_CLIENT=pg
        restart: unless-stopped
        image: joplin/server:latest
        ports:
            - "22300:22300"
        depends_on:
            - joplin-db