- name: Start Cypress container detached
  community.docker.docker_container:
    name: cypress
    image: cypress/included:latest
    command: npx cypress run --spec cypress/e2e/{{ cypress_test_file }}
    volumes:
      - /actions-runner/files/cypress:/e2e
    network_mode: host
    working_dir: /e2e
    detach: true
    auto_remove: false

- name: Wait for container to finish
  community.docker.docker_container:
    name: cypress
    state: absent
    timeout: 600

- name: Show Cypress logs
  ansible.builtin.command: docker logs cypress
  register: cypress_logs
  failed_when: false

- name: Remove Cypress container if still exists
  community.docker.docker_container:
    name: cypress-test
    state: absent
    force_kill: true

- debug:
    var: cypress_logs.stdout