- name: Pull and start cypress container
  community.docker.docker_container:
    name: cypress-test
    image: cypress/included:latest
    volumes:
      - /actions-runner/files/cypress:/e2e
    network_mode: host
    detach: false     # <-- stream logs to playbook output
    auto_remove: yes