- name: Setup excalidraw witheeboard service
  block:

    - name: Prepare service
      include_role:
        name: docker
        tasks_from: prepare_env
      vars:
        service_name: "excalidraw"
        service_dir: "{{ excalidraw_files_path }}"

    - name: Start excalidraw container
      community.docker.docker_container:
        name: "excalidraw"
        image: "excalidraw/excalidraw:latest"
        state: started
        restart_policy: "unless-stopped"
        networks:
          - name: proxy
        labels:
          - "traefik.enable=true"
          - "traefik.http.routers.excalidraw.rule=PathPrefix(`/excalidraw`)"
          - "traefik.http.routers.excalidraw.entrypoints=web"
          - "traefik.http.services.excalidraw.loadbalancer.server.port=80"
          - "traefik.http.middlewares.excalidraw-stripprefix.stripprefix.prefixes=/excalidraw"
          - "traefik.http.routers.excalidraw.middlewares=excalidraw-stripprefix"

    - name: Verify service
      include_role:
        name: docker
        tasks_from: verify_env
      vars:
        service_name: "excalidraw"

- name: Setup Joplin notes server
  block:
    - name: Prepare service
      include_role:
        name: docker
        tasks_from: prepare_env
      vars:
        service_name: "joplin"
        service_dir: "{{ joplin_files_path }}"

    - name: Run docker compose
      community.docker.docker_compose_v2:
        project_src: "{{ role_path }}/files"
        state: present

    - name: Verify service
      include_role:
        name: docker
        tasks_from: verify_compose_env
      vars:
        service_name: "joplin"
        service_dir: "{{ role_path }}/files"