- name: Add n8n config to nginx
  include_tasks: ../nginx/tasks/add_service.yml
  vars:
    service_name: n8n
    service_config_path: "{{ role_path }}/files/n8n_nginx.conf"


- name: Create n8n data directory
  file:
    path: "/home/rpi/files/n8n"
    state: directory
    mode: '0755'

- name: Start n8n container
  community.docker.docker_container:
    name: "n8n"
    image: "n8nio/n8n:latest"
    state: started
    restart_policy: "unless-stopped"
    ports:
      - "127.0.0.1:5678:5678"
    volumes:
      - "/home/rpi/files/n8n:/home/node/.n8n"
    network_mode: host
  notify: 
   - verify n8n health

- name: Open n8n port on UFW
  community.general.ufw:
    rule: allow
    port: "5678"
    proto: tcp

- name: verify n8n health
  uri:
    url: "http://localhost:{{ n8n_port }}/api/v1/health"
    method: GET
    status_code: 200
  retries: 5
  delay: 5
  register: n8n_health

- name: display n8n status
  debug:
    msg: "n8n is running and healthy at http://localhost:{{ n8n_port }}"
  when: n8n_health is succeeded

- name: verify proxy health
  uri:
    url: "http://{{{ ansible_default_ipv4.address }}}:{{ n8n_port }}/api/v1/health"
    method: GET
    status_code: 200
  retries: 5
  delay: 5
  register: n8n_proxy_health

- name: display n8n status
  debug:
    msg: "n8n is running and healthy at http://{{ ansible_default_ipv4.address }}:{{ n8n_port }}"
  when: n8n_health is succeeded