- name: Start DNS container
  community.docker.docker_container:
    name: "dns"
    image: "sirscythe/dnsmasq-arm:latest"  # ARM for RPi
    restart_policy: unless-stopped
    network_mode: host  # Binds to RPi's 53/udp directly
    volumes:
      "{{ role_path }}/files/dnsmasq.conf:/etc/dnsmasq.conf"
    capabilities:
    - NET_ADMIN

- name: Allow DNS in firewall
  community.general.ufw:
    rule: allow
    port: 53
    proto: udp
    comment: 'dnsmasq container'