- name: Verify {{ service_name }} container running
  community.docker.docker_container_info:
    name: "{{ service_name }}"
  register: container_info

- name: Assert container is running
  assert:
    that:
      - container_info.container.State.Running

- name: Assert Traefik services are on proxy network
  assert:
    that:
      - "'proxy' in container_info.container.NetworksSettings.Networks"

- name: Assert service has Traefik labels (if enabled)
  assert:
    that:
      - "'traefik.enable=true' in container_info.container.Config.Labels"
