- name: Remove all docker resources and VMs
  hosts: localhost
  become: true
  vars:
    vms_to_remove:
      - haos
    vm_networks_to_remove:
      - haos_net
    containers_to_remove:
      - nginx
      - klipper
      - moonraker
      - fluidd
      - n8n
      
  tasks:
    - name: Stop and destroy VMs
      community.libvirt.virt:
        name: "{{ item }}"
        state: destroyed
      loop: "{{ vms_to_remove }}"
      ignore_errors: yes

    - name: Undefine VMs with storage removal
      ansible.builtin.command:
        cmd: "virsh undefine {{ item }} --remove-all-storage --nvram"
      loop: "{{ vms_to_remove }}"
      ignore_errors: yes

    - name: Stop networks
      ansible.builtin.command:
        cmd: "virsh net-destroy {{ item }}"
      loop: "{{ vm_networks_to_remove }}"
      ignore_errors: yes

    - name: Undefine networks
      ansible.builtin.command:
        cmd: "virsh net-undefine {{ item }}"
      loop: "{{ vm_networks_to_remove }}"
      ignore_errors: yes

    - name: Remove VM image directories
      ansible.builtin.file:
        path: "/var/lib/libvirt/images/{{ item }}"
        state: absent
      loop: "{{ vms_to_remove }}"
      ignore_errors: yes

    - name: Remove containers
      ansible.builtin.command:
        cmd: "docker rm -f {{ item }}"
      loop: "{{ containers_to_remove }}"
      ignore_errors: yes

    - name: Remove configs
      ansible.builtin.file:
        path: /actions-runner/files
        state: absent
