name: Deploy app to Pi

on:
  push:
    paths-ignore:
      - '*README.md'
      - '.github/ISSUE_TEMPLATE/**'
    branches-ignore: 
      - 'main'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true 

defaults:
  run:
    working-directory: ansible  

jobs:   
  checkout-code:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2
  check-ansible:
    needs: checkout-code
    runs-on: self-hosted
    steps:
      - name: ensure Ansible present and expected config
        run: |
          chmod +x ansible_install.sh
          # run the check; if it exits non-zero, run install
          if ! ./ansible_install.sh check; then
            echo "Check failed, running install"
            ./ansible_install.sh install
          else
            echo "Check passed, skipping install"
          fi

  deploy-basic-services:
    needs: check-ansible
    runs-on: self-hosted
    steps:
      - name: Run needed roles
        run: ansible-playbook run_basic.yml
  
  detect-modifications-and-deploy-services:
    needs: deploy-basic-services
    runs-on: self-hosted
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          #base: ${{ github.event.before }} #compares with previous commit, by default it compares with main
          filters: | #has to be absolute path in repo (aka 'working-directory' does not work here)
            run-containers:
              - 'ansible/roles/octoprint/**' 
              - 'ansible/roles/n8n/**'
              - 'ansible/roles/haos/**'
              - 'ansible/roles/alerts/**'
              - 'ansible/roles/cypress/**'
              - 'ansible/roles/notes/**'
            run-vms:
              - 'ansible/roles/haos_vm_old/**'
      - name: run containers
        if: steps.filter.outputs.run-containers == 'true'
        run: ansible-playbook run_containers.yml --tags octoprint,n8n,haos,alerts,cypress,notes
      - name: run VMs
        if: steps.filter.outputs.run-vms == 'true'
        run: ansible-playbook run_vms.yml

  deploy-vpn:
    needs: detect-modifications-and-deploy-services
    runs-on: self-hosted
    steps:
      - name: Run needed roles
        run: ansible-playbook run_vpn.yml
