name: Deploy app to Pi

on:
  push:
    paths-ignore:
      - '*README.md'
      - '.github/ISSUE_TEMPLATE/**'
    branches-ignore: 
      - 'main'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true 

defaults:
  run:
    working-directory: ansible  

jobs:   
  checkout-code:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.2

  deploy-must-have-services:
    needs: checkout-code
    runs-on: self-hosted
    steps:
      - name: Run roles
        run: ansible-playbook run_must_have.yml
  
  deploy-main-services:
    needs: deploy-must-have-services
    runs-on: self-hosted
    steps:
      - name: Run roles
        run: ansible-playbook run_main.yml

  deploy-work-in-progress-services:
    needs: deploy-must-have-services
    runs-on: self-hosted
    steps:
      - name: Run roles
        run: ansible-playbook run_wip_services.yml

  deploy-network-services:
    needs: [deploy-main-services, deploy-work-in-progress-services]
    runs-on: self-hosted
    steps:
      - name: Run roles
        run: ansible-playbook run_network.yml
